<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>

    <title><%- title %></title>
  </head>

  <body>
    <header><%- include("partials/navBar") %></header>
    <!-- BOTONES NUEVO - INICIO -->
    <div class="botonera">
      <a href="/createBlog" class="btn btn-outline-primary mt-4">
        <i class="bx bx-plus"></i>
      </a>

      <a href="/" class="btn btn-outline-success mt-4">
        <i class="bx bx-home-alt-2"></i>
      </a>
    </div>
    <!-- BOTONES NUEVO - fin -->
    <section>
      <div class="titulo">
        <h1>Listado de <%= title %></h1>
      </div>

      <!-- Carga las cards -->
      <div id="container-bogs">
        <% results.forEach((blogs)=>{ %>

        <div class="proyecto tarjeta">
          <img
            src="<%= (blogs.image) ? blogs.image : `/img/image-not-found.png` %>"
            alt='<%= blogs.title %> loading="lazy"'
          />
          <h3><%= blogs.title %></h3>
          <p><%= blogs.description %></p>
          <a href="/editBlog/<%= blogs.id %>">Leer</a>
        </div>

        <% }) %>
      </div>
    </section>

    <%- include("partials/footer") %>
  </body>
</html>
