<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head")%>
  <title><%= title %></title>
 
</head>
<body>
  <%- include("partials/navBar")%>

  <div class="container mt-4">
    <div class="card border-secondary">
      <div class="card-header"><%= title %></div>
      <div class="card-body">
        <form action="/saveBlog" method="post">
          
          <div class="datos">


            <div class="mb-3">
              <label for="blog" class="form-label">Titulo *</label>
              <input
                type="text"
                class="form-control"
                id="title" 
                name="title"
                placeholder="Titulo del blog"
                tabindex="1"
                required
              />
            </div>

            <div class="mb-3">
              <label for="blog" class="form-label">Descripción</label>

              <input
                type="text"
                class="form-control"
                id="description"
                name="description"
                placeholder="Breve Descripción del tema"
                tabindex="2"
              />
            </div>

            <!-- <div class="mb-3">
              <label for="blog" class="form-label">Contenido</label>
              <textarea 
              class="form-control" 
              name="content" 
              id="mytextarea"
              ></textarea>
            </div> -->

            <div class="mb-3">
              <label for="blog" class="form-label">Contenido</label>


              <!-- <div id="editor" name="content" >               
              </div> -->

              <!-- <textarea id="mytextarea">Hello, World!</textarea> -->
              <textarea class="form-control" name="content" id="mytextarea"></textarea>
            </div>

            <div class="mb-3">
              <label for="blog" class="form-label">Imagen</label>
              <input
                type="text"
                class="form-control"
                id="image"
                name="image"
                placeholder="URL imagén"
                tabindex="4"
                required
              />
            </div>

            
          </div>
          
          <button type="submit"  class="btn btn-primary" tabindex="5">
            Guardar
          </button>
          <a href="/blog" class="btn btn-secondary" tabindex="6">Cancelar</a>

        </form>
      </div>
    </div>
  </div>


  <%- include("partials/footer")%>

</body>
</html>

