<%- include("partials/head") %>

<body>
    <%- include("partials/navBar") %>

    <div class="container">
      
      <a href="/createForo" class="btn btn-outline-primary mt-4"
        ><i class="bx bxs-plus-circle bx-lg"></i
      ></a>
      
      <a href="/" class="btn btn-outline-success mt-4"
        ><i class="bx bxs-home-alt-2 bx-lg"></i
      ></a>
      
      

      
      <table
        class="table table-info table-bordered table-striped text-center mt-4"
      >
        <thead>
          <tr>
            <th scope="col" >N°</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Visitas</th>
            
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach((foros)=>{ %>
          <tr>
            <td class="fs-6 align-middle"><%= foros.id %></td>
            <td class="fs-6 align-middle"><%= foros.title %></td>
            <td class="fs-6 align-middle"><%= foros.description %></td>
            <td class="fs-6 align-middle"><%= foros.image %></td>
            
            <!-- <td class="fs-6 align-middle">
              <div class="card" style="width: 4rem;">
                <img src="<%= (foros.image!="")? foros.image : "/img/user-solid-24.png" %>" class="card-img-top "  alt="">
              </div> 
            </td> -->

            <td class="fs-6 align-middle"><%= foros.visits %></td>

            <td class="fs-6 align-middle">
              <a href="/editForo/<%= foros.id %>" class="btn btn-success" 
                >EDITAR</a
              >

              <a href="/deleteForo/<%= foros.id %>" class="btn btn-danger"
                >ELIMINAR</a
              >
            </td>
          </tr>
          <% }) %>
        
        </tbody>
      </table>
    </div>
    

  </body>

  <%- include("partials/footer") %>
