<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navBar") %>

    <div class="container">
      <!-- BOTONES NUEVO - INICIO -->
      <a href="/createUser" class="btn btn-outline-primary mt-4">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </a>

      <a href="/" class="btn btn-outline-success mt-4">
        <i class="fa-solid fa-house fa-2xl"></i>
      </a>

      <div class="titulo">Listado de <%= title %></div>

      <table
        id="tableUser"
        class="table table-responsive table-hover table-sm"
        style="width: 90%"
      >
        <!-- class="table table-striped " style="width: 90%" -->

        <!-- CABECERAS -->
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Imagen</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <!-- CONTENIDO -->
        <tbody>
          <% results.forEach((users)=>{ %>

          <tr>
            <td><%= users.id %></td>
            <td><%= users.username %></td>
            <td><%= users.nombre %> <%= users.apellido %></td>
            <td><%= users.email %></td>
            <td><%= (users.role===1)? "Administrador":"Usuario" %></td>
            <td>
              <div class="card" style="width: 4rem">
                <img
                  src=" <%= users.image %>"
                  class="card-img-top"
                  alt="Imagen del Usuario"
                />
              </div>
            </td>

            <td>
              <a href="/editUser/<%= users.id %>" class="btn btn-success">
                <i class="fa-solid fa-pen"></i>
              </a>

              <!-- <a href="/deleteUser/<%= users.id %>" class="btn btn-danger" onclick="return confirm(`Estas seguro de eliminar?`)"><i class="fa-regular fa-trash-can"></i></a> -->
              <a class="btn btn-danger" onclick="confirmar(<%= users.id %>)"
                ><i class="fa-regular fa-trash-can"></i
              ></a>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>

    <script>
      new DataTable("#tableUser");

      function confirmar(id) {
        Swal.fire({
          title: "¿Esta seguro de eliminar el registro?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: `#3085d6`,
          cancelButtonColor: `#d33`,
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location = `/deleteUser/` + id;
          }
        });
      }
    </script>
    <%- include("partials/footer") %>
  </body>
</html>
